.name{
  font-weight: normal;
}

#item-form-box{
  border: 1px solid black;
  text-align: center;
  background-color: rgb(129, 182, 212);
  color: rgb(14, 31, 56);
}

#store-form-box{
  border: 1px solid black;
  text-align: center;
  background-color: greenyellow;
}

#current-items{
  color: rgb(30, 30, 143)
}

#store-names{
  color: rgba(2, 90, 2, 0.89);
}

#store-boxes{
  border: 1px solid black;
  padding-left: 20px;
}