.name{
  font-weight: normal;
}

#item-form-box{
  border: 1px solid black;
  text-align: center;
  background-color: rgb(129, 182, 212);
  color: rgb(14, 31, 56);
}

#store-form-box{
  border: 1px solid black;
  text-align: center;
  background-color: rgb(118, 119, 199);
}

#current-items{
  color: rgb(30, 30, 143)
}

#store-names{
  color: rgba(84, 15, 141, 0.89);

  font-size: 25px;
}

#store-boxes{
  border: 1px solid black;
  
  width: 800px;
}

#stores{
  font-weight: bold;
}

#stores-title{
  font-size: 28px;
}

#edit-store-name{
  font-size: 16px;
  color: black
}
